body {
  display: flexbox;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.App{
  text-align: center;
}

.col-5{
  height:600px;
  overflow:hidden;
   overflow-y:scroll;
}

a {
  text-decoration: none;
  color: white;
}

.link{
  color:white;
}